@font-face {
    font-family: 'digimonbasicmedium';
    src: url('https://github.com/jairvides/digivice/blob/main/assets/fonts/digimonbasic-webfont.woff2') format('woff2'),
        url('https://github.com/jairvides/digivice/blob/main/assets/fonts/digimonbasic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html,
body {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(lightgreen, pink, #ffffff00);
}


video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#homepage {
    display: none;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin: 5px auto;
    width: 400px;
}

.card h2 {
    margin: 2px 0 0 0;
    font-family: 'digimonbasicmedium';
    font-size: 50px;
    font-weight: 700;
}

.card p {
    font-size: 20px;
    color: #666;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
}

#digivice {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin: 5px auto;
    width: 400px;
}

.buttons {
    width: 400px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 0 auto;
}

#button-right,
#button-left {
    font-size: 50px;
    border: none;
    background-color: unset;
    cursor: pointer;
    box-shadow: #666;
}

@media screen and (max-width:480px) {

    html,
    body {
        width: auto;
    }

    video {
        width: 100%;
    }

    .container, .card, .card h2, .card p, #digivice {
        padding: 5px;
        margin-left: 0;
    }

    
    #digivice {
        align-items: center;
    }

    .buttons {
        justify-content: space-evenly;
        padding: 1px;
        margin: 0;
    }
}
